*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 420px;
    width: 250px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 10px 40px;
    border-radius: 10px;
    background-image: url("https://i.pinimg.com/736x/09/a6/e2/09a6e2e00d2ac62e8d60db7a25d339f7.jpg");
}

input{
    border-radius: 5px;
    height: 23px;
    margin-top: 3px;
    border: 1px solid black
}

.email {
    height: 70px;
}

textarea {
    border-radius: 5px;
    height: 70px;
    width: 170px;
    margin-top: 3px;
    resize: none;
    border: 1px solid black;
}

h3{
    color: white;
}

.enviar{
    margin-top: 25px;
    border: none;
    height: 40px;
    width: 100%;
    cursor: pointer;
}

.logo {
    height: 100px;
    margin-bottom: 20px;
}

.container-principal{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ty{
    font-size: 30px;
    text-align: center;
}